html {
  width: 100vw;
  height: 100vh;
}


.arrayDisplay > p {
  color: white;
}

.arrayDisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 5% 0 5% 10%;
  box-sizing:border-box;
}

body {
  background-color: slateblue;
  font-family: monospace;
  text-align: left;
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}
.App {
  width: 100%;
  height: 100%;
}


a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
