html {
  width: 100vw;
  height: 100vh;
}

.App {
  /* padding: 5% 0 5% 2%; */
}
.App p {
  color: plum;
  margin: 10px 0 5px 0;
}
.arrayDisplay {
  height: 20vh;
  justify-content: flex-start;
  background-color: black;
}
.arrayDisplay2 {
  height: 80vh;
  padding-left: 20px;
  justify-content: space-evenly;
}
.arrayDisplay,
.arrayDisplay2 {
  display: flex;
  overflow: auto;
  flex-direction: column;
  
  width: 100%;
  box-sizing: border-box;
}

.arrayDisplay a {
  font-size: 14px;
  color: lime;
  display: block;
}
.arrayDisplay a:hover {
  text-decoration: none;
  cursor: default;
}
.arrayDisplay2 a {
  font-size: 18px;
  display: block;
}
.arrayDisplay2 p {
  color: white;
  margin-bottom: auto;
}

@media (max-width: 900px) {

  .arrayDisplay a {
    font-size: 11px;
    line-height: 14px;
  }
  .arrayDisplay2 a {
    font-size: 17px;
  }
}

body {
  background-color: slateblue;
  font-family: monospace;
  text-align: left;
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}
.App {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
